table.horizontal{
    border: 3px;
    border-width: 3px;
    border-color: #0000cc;
    border-bottom-style: double;
    border-style: dotted;
}

table.vertical{
    border: 3px;
    border-width: 3px;
    border-color: #0000cc;
    border-bottom-style: double;
    border-style: dotted;
}

.secondPart{
    vertical-align: top;
    padding: 10px;
    border: 3px;
    border-width: 3px;
    border-color: #0b97c4;
    border-bottom-style: double;
    border-style: dotted;

}

